
.example-form {
	min-width: 150px;
	max-width: 500px;
	width: 100%;
}

.example-full-width {
	width: 17%;
}


span{
    font-size: larger;
}

ul{
    padding-top: 0.5em;
}
li{
    padding-top: 0.5em;
    font-size: larger;
    color: #dedcdc;
}
.example-card {
  max-width: 550px;
  margin-bottom: 8px;
  color: black;
}
.profesorImg{
    height: 15em;
    margin-left: 4em;
}
#age{
    font-size:medium;
}
.datosProfesor{
    color: black;
}
#datosProfesor{
    list-style: none;
    padding-left: 0.5em;
}
mat-card-content{
    display: flex;
}