<main>
    <h2>Alumnos: </h2>
    <mat-grid-list id="gridAlumnos" cols="4" rowHeight="2:1.1" >
        <mat-grid-tile  *ngFor="let listado of Alumnos">
          <div  class="datosAlumno">
            <div class="alumno">
              <h2>Datos del alumno:</h2>
              <h5>Nombre: {{listado.userName}}<br>
              Apellidos: {{listado.lastName}}<br>
              Edad: {{listado.age}}</h5><br>
              Ficha del alumno: <button (click)="expedienteAlumno( listado.id )">expediente</button>
            </div>
          </div>
        </mat-grid-tile>
    </mat-grid-list>
</main>