<!-- <main>

	<h2>
		<button (click)="restar()"><</button>
				<span> Nombre del alumno: {{listaAlumnos[this.posicion].userName}} ({{listaAlumnos[this.posicion].age}}
					años)</span>
				<button (click)="sumar()">></button>
	</h2>
	<div id="infoalumno">
		<img id="alumnoimg" src={{listaAlumnos[this.posicion].photo}} alt="foto de alumno">

		<ul>
			<li>Apellidos: {{listaAlumnos[this.posicion].lastName}}</li>
			<li>Correo: {{listaAlumnos[this.posicion].email}}</li>
			<li>Teléfono: {{listaAlumnos[this.posicion].telephone}}</li>
			<li *ngIf="listaAlumnos[this.posicion].state">APROBADO</li>
			<li *ngIf="!listaAlumnos[this.posicion].state">SUSPENDIDO</li>
		</ul>
	</div> -->


	<h4>Basic mat-select</h4>
	<mat-form-field appearance="fill">
		<mat-label>Favorite food</mat-label>
		<mat-select>
			<mat-option *ngFor="let food of foods" value="{{food.value}}">
				{{food.viewValue}}
			</mat-option>
		</mat-select>
	</mat-form-field>

<!-- </main> -->