* {
    margin: auto;
}
body{
    background-image: url(media/back.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

}

.exterior {
    background-color: #798b94;
    border-radius: 15%;
    width: 20em;
    height: 15em;
    text-align: center;
    display: inline-block;
    margin: 0.5em;
    padding: 1em;
    border:solid 2px;
    background-size: cover;

}

.exterior div label {
    display: block;
}

#todastablas {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.tabla {
    background-color: rgb(215, 214, 214);
    border-radius: 30%;
    border-style: solid;
    border-color: black;
    width: 8em;
    margin: 0.5em;
}
#div9{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.divs{
    width: 5.5em;
    height: 4.4em;
    border-radius: 20%;
    background-color: #a7b4bb;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;

}
a{
    text-decoration: none;
}