<main>

    <h2>
        <button (click)="restar()"><</button>
        <span> Nombre del alumno: {{listaAlumnos[this.posicion].nombreA}} ({{listaAlumnos[this.posicion].edadA}} años) </span> 
        <button (click)="sumar()">></button>
    </h2> 
	<div id="infoalumno">
		<img id="alumnoimg" src= {{listaAlumnos[this.posicion].fotoA}} alt="foto de alumno">
		
		<ul>
			<li>Apellidos: {{listaAlumnos[this.posicion].apellidoA}}</li>
			<li>Correo: {{listaAlumnos[this.posicion].correoA}}</li>
			<li>Teléfono: {{listaAlumnos[this.posicion].telefono}}</li>
			<li *ngIf="listaAlumnos[this.posicion].estadoA">APROBADO</li>
			<li *ngIf="!listaAlumnos[this.posicion].estadoA">SUSPENDIDO</li>
		</ul>
	</div>
	
</main>
