main{
	padding: 1em;
	height: 90vh;
	background-color: antiquewhite;
	display: flex;
	justify-content: center;
}
form{
	height: 10em;
	text-align: center;
	border-radius: 8%;
	background-color: #0d3f7c;
	width: 18em;
	padding: 1em;
	border: 1px solid black;

}
.input{
	background-color: #042753;
	color: white;
}
input{

	margin-top: 1em;
}