<div>

    <h2>
        <button (click)="restar()"><</button>
        <span> Profesor: {{profesoresLista[this.posicion].nombre}} ({{profesoresLista[this.posicion].edad}} años) </span> 
        <button (click)="sumar()">></button>
    </h2> 
    <div id="infoprofesor">
        <img id="profesorimg" src= {{profesoresLista[this.posicion].foto}} alt="foto de profesor">
        <ul>

            <li>Apellidos: {{profesoresLista[this.posicion].apellidos}}</li>
            <li>Correo: {{profesoresLista[this.posicion].correo}}</li>
            <li>Asignatura: {{profesoresLista[this.posicion].asignatura}}</li>
        </ul>
    </div>
</div>

