*{
    margin: 0;
}
:root{
    --backcolor: #00214A;
    --background: url(/Exámenes/pruebapractica1842/img/background1.jpg), url(/Exámenes/pruebapractica1842/img/background2.jpg), url(/Exámenes/pruebapractica1842/img/background3.jpg);
}
header{
    display: flex;
    background-color: #04BBEC;
    height: 10vh;
    align-items: center;
}
header img{
    width: 3.5em;
    height: 3.5em;
    margin-left:5%;
}
nav{
    width: 100%;
    display: flex;
    justify-content: end;
    padding-right: 5em;
}
header ul{
    display: flex;
    list-style: none;
}
header li {
    padding-right: 2em;
}
header a {
    color: black;
    text-decoration: none;
}
header a:hover {
    color: blue;
}
#mainarea{
    display: flex;

}
aside{
    width: 20vw;

}

aside div{
    height: 38.7vh;
    background-color: var(--backcolor);
    border: 1px solid black;
    padding: 1em;
    color: #04BBEC;
}

form {
    display:flex;
    /* background-color: black; */
    flex-direction: column;
    justify-content: center;
    text-align: center;
}


#mainarea section{
    background-image: var(--background);
    background-size: cover;
    flex-direction: column;
    text-align: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    justify-content: center;
    width: 80vw;
    height: 86.5vh;

}

#mainarea section p{

    text-align: justify;
    padding-right: 4em;
    padding-left: 4em;
}
#mainarea img{
    width: 15em;
}
#mainarea video{

    width: 45em;
}


button{
    width: 9em;
    height: 2em;
    background-color: #2060af;
    cursor: pointer;

    
}
button:hover{
    background-color: #1355a7;
}
button a{
    text-decoration: none;
    color: black;
}
#mostrar{
    width: 10em;
}
#mainarea section p{
    text-align: justify;
    padding: 1em 3em

}
#curso{
    width: 19em;
    border-radius: 4%;
}
footer{
    height: 4vh;
    background: #0D3F7C;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}