<main>


	<section>
		<h3>Lista de deseados:</h3>
		<div id="productList1">
			<div class="products" *ngFor="let product of productos">
				<img src= {{product.imagenSer}} alt="producto">
				<br>{{product.nombreSer}} {{product.PrecioSer}}€ <br>
				<label for="checkbox">Wish List: <input type="checkbox"></label>
			</div>
		</div>
		<div *ngIf="longitud==0"><h2>¡No tienes productos en tu lista de deseados!</h2><p>Puedes añadir productos a tu WISHLIST en la sección de inicio</p></div>
	</section>
</main>
