<<<<<<< HEAD
div{
	border-radius: 1em;
	border: 1px solid black;
	padding: 0.65em;
    background-color: #0d3f7c;
	color: white;
}
div img{

	margin: 0.8em;
}

.example-form {
	min-width: 150px;
	max-width: 500px;
	width: 100%;
}

.example-full-width {
	width: 17%;
=======
div{
	border-radius: 1em;
	border: 1px solid black;
	padding: 0.65em;
    background-color: #0d3f7c;
	color: white;
}
div img{

	margin: 0.8em;
}

.example-form {
	min-width: 150px;
	max-width: 500px;
	width: 100%;
}

.example-full-width {
	width: 17%;
>>>>>>> 326f0fcef1c28f340edb16eec4d1c172c45869ac
}	