
/* #gridAlumnos{
    list-style: none;
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    gap: 1em 0.5em; 
    justify-items: center;
} */


.alumno{
    margin: 10em;
    height: 12em;
    width: 20em;
    background-color: #0d3f7c;
    font-size: larger;
    padding: 1em;
    border-radius: 1em;
    border: 1px solid black;
    color: rgb(255, 255, 255);
    /* margin-top: 10em; */
}
.alumno button{
    border-radius: 0.4em;
    background-color: #04254e;
    color: rgb(255, 255, 255);
}