footer{
    display: flex;
    text-align: center;
    background-color: #a1c9f7;
    padding: 0.8em;
    align-items: center;
}

.footer1{
    width: 25%;

}
.footer2{
    width: 20%;
}

.footer3{
    width: 55%;
}

.logo{
    width: 30%;
}