*{
    margin: 0;
}
section {
    margin-top: 2em;
    /* width: 25em; */
    text-align: center;
    display: flex;
    /* padding-bottom: 1em; */
    /* display: grid;  */
    /* grid-template-columns: 1fr 1fr 1fr;  */
    /* gap: 0px 2em;  */
    /* grid-template-areas:  */
      /* ". . ."; */
    justify-content: center;
    
    padding: 1.5em;
  }
.formulario {
    width: 33%;
    background-color: dodgerblue;
    border-radius: 18%;
    margin-right: 2em;
    padding: 1em;
}
.formulario:last-child {
    margin-right: 0em;
}
form {
    display:flex;
    flex-direction: column;
    text-align: center;
    /* justify-content: center; */
}

select {
width: 35%;
}
input{
    margin: 0.5em 0em;
}